#title {
  text-align: center;
  background-color: #6B8299;
}

body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
}

h6 {
  color: white;
}

p {
  color: gray;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbarbrand {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.best-seller {
  border-top-left-radius: 22% 10%;
  border-top-right-radius: 22% 10%;
  border-bottom-left-radius: 22% 10%;
  border-bottom-right-radius: 22% 10%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

/* Media Query */
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  }

  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media (max-width:1080px) {
    #title {
      text-align: center;
    }

    .best-seller {
      transform: rotate(0);
      position: static;
    }

}

/* FEATURES BUTTONS */
#features {
  padding: 7% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #6B8299;
  margin-bottom: 1rem;
}

.icon:hover {
  color: black;
}

/* TESTIMONIALS SECTION */
#testimonials {
  text-align: center;
  background-color: #6B8299;
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 20%;
  border-radius: 50%;
  margin: 20px;
}

/* PRESS SECTION */
#press {
  background-color: #6B8299;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */
#cta {
  color: white;
  padding-top: 50px;
  background-color: #6B8299;
  text-align: center;
}

/* FOOTER SECTION */
#footer {
  background-color: #6B8299;
  text-align: center;
}

.icons-social{
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
}

.fa-instagram:hover{
  color: white;
}

.fa-facebook-f:hover{
  color: white;
}

.fa-twitter:hover{
  color: white;
}
